APP_ENV=dev
APP_URL=http://localhost:8080
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=portal_solicitacoes
DB_USER=root
DB_PASS=
SESSION_LIFETIME=1800
LOGIN_MAX_TENTATIVAS=5
LOGIN_JANELA_MINUTOS=15
APP_TIMEZONE=America/Fortaleza